<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div
		style="width: 100%; height: 100%; text-align: center; -webkit-border-radius: 15px; border-radius: 15px; border: 1px red solid">
	
		<div style="margin-left:auto;margin-right:auto;">
			<table style="margin-left:auto;margin-right:auto;">
				<tr>
					<td><label for="accountTxt">Account</label></td>
					<td><input id="accountTxt" type="text" /></td>
				</tr>
				<tr>
					<td><label for="pwdTxt">Password</label></td>
					<td><input id="pwdTxt" type="password" /></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><input id="loginBtn"
						type="button" value="sign up" /></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>